
.main {
    background: rgba(255, 255, 255, 0.03);
    text-align: justify;

}


.my-menu{
    background: rgba(0, 191, 255, 0.03);

}

.my-content {
    background: rgba(141, 250, 15, 0.04);
}



.part-3 {
    background: red;
    height: 1754px;


}

.part-4 {
    background: yellow;
    height: 370px;

}

.part-5 {
    background:blueviolet;
    height: 438px;

}

.part-9 {
    background: red;
    height: 438px;

}

.bg-1{
    margin-bottom: 30px;
}




